@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
body {
    display: flex;
    flex-direction: row;
    background-color: #1c2024 !important;
}

html,
body {
    height: 100%;
    margin: 0;
}

#sidebar {
    background-color: #14181c;
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#open-nav {
    font-size: 50px;
    cursor: pointer;
    color: antiquewhite;
    padding-left: 25px;
    padding-right: 25px;
}

.active-page {
    background-color: #1c2024 !important;
    color: #f1f463 !important;
}

.header-box {
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.sidebar a {
    padding: 25px 5px 25px 5px;
    border-top: solid 1px rgb(255, 245, 55);
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar a:hover {
    background-color: #323232 !important;
}

.footer-link {
    border-top: none !important;
}

#footer-text {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    overflow: auto !important;
}

.top-bar {
    background-color: #14181c;
    height: 4rem;
    width: 100%;
}

.overflow-container {
    overflow: auto;
}

#page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.5s;
}

.site-title {
    margin-top: 5vh;
    color: #f1f463;
    font-family: "Lato", sans-serif;
}

.home-img {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
}

.site-1 {
    margin-top: 10vh !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.site-2 {
    margin-top: 5vh !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.category-text {
    font-size: 20px;
    font-weight: 600;
    color: #f1f463;
    width: 100%;
}

.info-text {
    color: #f1f463;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    height: 100%;
    border: solid 1px #99a9bb;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.info-image {
    width: 25%;
    height: 25%;
    float: right;
    margin-top: 1rem;
}

.info-box {
    margin-top: 5rem !important;
}

.complaint-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    border: solid 1px #090909;
    background-color: #323232;
}

.complaint-box {
    margin-top: 5rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-tag {
    margin-right: 5px;
}

.top-donations {
    margin-top: 5vh !important;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
}

.tip-box {
    margin-top: 5rem !important;
}

.tip-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border: solid 1px black;
    background-color: #323232;
}

.fa-thumbs-up {
    margin-right: 5px !important;
}

.fa-thumbs-down {
    margin-left: 5px !important;
}

#login-form,
#complaint-form {
    margin-top: 5vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f463;
    width: 100%;
}

.signup-prompt {
    margin-top: 5vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f463;
    font-size: 32px;
}

fieldset>input,
fieldset>textarea {
    width: 100%;
}

.login-prompt {
    margin-top: 5vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f463;
    font-size: 32px;
}

fieldset>input {
    width: 100%;
}

label {
    font-size: 26px;
}

.login-btn {
    margin-top: 1vh !important;
    color: #000000;
    font-size: 16px;
    border-radius: 10%;
}

.signup-link {
    margin-top: 1vh !important;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10%;
    background-color: white;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.login-link {
    margin-top: 1vh !important;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10%;
    background-color: white;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.login-btn,
.submit-btn {
    margin-top: 1vh !important;
    color: #000000;
    font-size: 16px;
    border-radius: 10%;
}

.login-btn:hover,
.signup-link:hover,
.submit-btn:hover {
    background-color: #f1f463 !important;
    color: #000000 !important;
}

.popup-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-form {
    background-color: black;
    padding: 20px;
}

#register-form {
    margin-top: 5vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f463;
    width: 100%;
}

.accounts-block {
    background-color: gray;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    float: right;
}

.login-option,
.signup-option,
.logout-option {
    background-color: gray;
    cursor: pointer;
    height: 1.5rem;
    padding: 10px;
    width: 8rem;
    margin: 5px;
}

.login-option>a {
    text-decoration: none;
    color: white;
}

.signup-option>a {
    text-decoration: none;
    color: white;
}

.logout-option>a {
    text-decoration: none;
    color: white;
}

.accounts {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    margin: 1rem;
}

.push {
    margin-top: 2rem !important;
}

#reply {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin: 5px;
}

#edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin: 5px;
}

#delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin: 5px;
}